<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main_div">
        <h2 class="add_pro">Edit Product</h2>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <b>Product id : </b><p><input type="text" name="pro_id" id="" placeholder="product id" class="p_id" value="{{data.product_id}}"></p>
            <b>Product name : </b><p><input type="text" name="name" id="" placeholder="product name" value="{{data.product_name}}"></p>
            <b>Product discription : </b><p><input type="text" name="discription" id="" placeholder="discription" value="{{data.dis}}"></p>
            <b>Price : </b><p><input type="number" name="price" id="" placeholder="price" value="{{data.price}}"></p>
            <b>Offer Price : </b><p><input type="number" name="o_price" id="" placeholder="offer price" value="{{data.offer_price}}"></p>
            <img src="{{data.img.url}}" alt="" style="width: 90px;">
            <b>Product Image : </b><input type="file" name="img" id="" value="{{data.img}}">
            <input type="submit" value="Add">
        </form>
    </div>
    
</body>
</html>