<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    
    <nav class="navbar navbar-expand-sm" style="background-color:rgb(126, 215, 211);">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="static/images/bh_logo.jpg" alt="" style="width: 60px;height: 60px;" class="rounded-pill"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>

                    <!-- <li class="nav-item">
                        <a class="nav-link" href="bookings">Bookings</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="shop_login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="logout">Logout</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>

    
     <!-- <nav class="navbar navbar-expand-sm" style="background-color: rgb(234, 232, 232);">
        <div class="container-fluid">
         <a class="navbar-brand" href="#"> 
             <ul class="navbar-nav">
                <li class="nav-item" style="margin-left: 50px;">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
            </ul>
        </a>
        </div>
    </nav> -->




    <div id="demo" class="carousel slide"   >
     
        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
            <div class="carousel-item active">
            <img src="static/images/caro1.jpg" alt="Los Angeles" class="d-block" style="width:100%;height: 600px;">

            <div class="carousel-caption " style=" width: 250px;height: 350px;margin-left: -90px;">
                 <div>
                <p style="background-color: rgb(192, 192, 192);">Everything you</p>
                <p> need for your baby</p>
                </div>
            </div>
           
        </div>
        <div class="carousel-item">
            <img src="static/images/caro2.jpg" alt="Chicago" class="d-block" style="width:100%;height: 600px;">
            <div class="carousel-caption ">
                <div class="fw-light bg-secondary p-3">
               <h5 >20% off</h5>
               <p>new born baby clothes</p>
               </div>
           </div>
        </div>
        <div class="carousel-item">
            <img src="static/images/caro4.jpg" alt="New York" class="d-block" style="width:100%;height: 600px;">
        </div>
    </div>
        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
      
    










    
    <!-- <h3>User home page</h3> -->
    <div class="container mt-4">
        
        <div class="row">
            {% for pro in data %}
            <div class="col-lg-4">
                <a href="view_product/{{pro.pk}}" style="text-decoration: none;">
                    <div class="card">
                        <img class="card-img-top" src="{{pro.img.url}}" alt="Card image" style="width:100%;height: 400px;">
                        <div class="card-body" style="height:140px;">
                            <h4 class="card-title">{{pro.product_name}}</h4>
                            <p class="card-text fw-light">{{pro.price}}</p>
                            <p class="card-text"><b>{{pro.offer_price}}</b></p>
                            <!-- <p class="card-text">{{pro.dis}}</p> -->
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>


    <div class="mt-4">
    <footer>
        <div class="container-fluid" style="background-color: rgb(63, 62, 62);">
            <div class="container ">
                <div class="row">
                    <div class="col-sm-4 mt-4">
                        <h5 class="text-white">CONNECT WITH US</h5>
                        <div class="col">
                            <form action="" class="mt-4">
                                <input type="text" name="" id="" class="form-control" placeholder="enter Your email" style="width: 230px;height: 43px;">
                           
                            </form>
                            <div class="col-sm-12 mt-4">
                                <a href="">youtube</a>
                                <a href="">facebook</a>
                                <a href="">insta</a>
                                <a href="">twitter</a>
                            </div>
                            <div class="mt-4">
                                <p class="text-white"> All rights reserved</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 mt-4">
                        <h5 style="color: white;">useful links</h5><br>
                        <a href="#" class="atag"><b>about babyhug</b></a><br><br>
                        <a href="#" class="atag"><b>Help & Support</b></a><br><br>
                        <a href="#" class="atag"><b>Buying Guide</b></a><br><br>
                        <a href="#" class="atag"><b>Return Policy</b></a><br><br>
                        <a href="#" class="atag"><b>Store Locator</b></a><br><br>
                    </div>
                    <div class="col-lg-4 mt-4">
                        <h5 class="text-white"><b>Products</b></h5><br>
                        <a href="" class="atag"><b>new born baby clothes</b></a><br><br>
                        <a href="" class="atag"><b>skin care products</b></a><br><br>
                        <a href="" class="atag"><b>baby gift kits</b></a><br><br>
                    </div>
                </div>
            </div>
        </div>
        
    </footer>
    </div>
</body>
</html>